body{

  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  scroll-behavior: smooth;



}


/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.show{
    display: block;
}

.hide{
    display: none;
}


.disable-scroll{
    overflow: hidden
}

.topbar-wrapper{
	position: relative;
   
    padding: 0px 20px;
    margin: 0 auto;
    max-width: 1160px;

}
.status-levitate{
    
    background-color: white;
    transition: all .6s ease;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; 
    z-index: 20;
    background: #f7f8f8;
}



.box-shadow{
    box-shadow: 0px 10px 30px rgb(0 0 0 / 20%);

}

.topbar-logo{
	width: 8rem;
    

}

.invisible{
    display: none;
}


.no-style{
    display: block;
}

.footer-container {
    position: relative;
    padding: 10px 10px 0 10px;
    background-color: #3e4543;
}

.frame {
    padding: 15px 0;
    border-bottom: 1px solid rgba(255,255,255,.1);
   

}


.frame-footer{
     display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 9rem;
    margin-right: 7rem;

}

.logo-footer{
    width: 8rem;
}

.footer-container .logo {
    margin-bottom: 20px;
    text-align: center;
}

.footer-container .follow {
    margin: 0;
    text-align: center;
}

.footer-container .legal {
    margin: 10px 0 0 0;
    text-align: center;
}

.footer-container .copyright {
    display: block;
    margin: 10px 0 0 0;
    text-align: center;
    color: rgba(255,255,255,.5);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.footer-container .follow ul li {
    display: inline;
}
.footer-container .follow {
    margin: 0;
    text-align: center;
}

i{
	color:white;
}

.footer-container .follow ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 230%;
    text-align: center;

    border-radius: 50%;
    box-sizing: border-box;
    background-color: rgba(255,255,255,.15);
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    transition: all .6s ease;
}

.footer-container .legal ul li a {
    color: white;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}

.footer-container .legal ul {
    margin: 0;
    padding: 0px;
    line-height: 14px;
}

.footer-container .legal {
    margin: 10px 0 0 0;
    text-align: center;
}

.footer-container .legal ul li {
    display: inline;
    margin: 0 0 0 2px;
}

.no-padding{
	padding: 0;
}

ul{
    padding: 0;
}

.content-grid{
    display: grid;
    grid-template-columns: 55% 40% 5% ;
    margin-top: 2rem;
    margin-bottom: 2rem;

}


.redes-title{
    text-align: center;
    font-size: 17px;
    line-height: 25px;

}


.redes-wrapper{

    background: #f7f8f8;
    padding: 40px 16px;
}

.form-button{

    background: #60AD56 !important; 
    width: 90%;
    
    border-radius: 10px;
    font-size: 17px;
    padding: 13px 18px 13px 18px;
    color: white;
    border: none;
    font-weight: bold;
    padding: 20px;
}

.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-justify{
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-justify-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.white{
    color: white;
}
.no-padding li a{
    text-decoration: underline !important;
}

.form-input{
    height: 48px;
    margin: 0 0 20px 0;
    padding: 12px !important;
    width: 90%;
    color: #656a69;
    font-size: 17px;
    font-weight: 500;
    font-family: "Pangram","-apple-system,BlinkMacSystemFont","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    border: 2px solid #e8e9e8;
    border-radius: 4px;
    background-color: #e8e9e8;
    box-sizing: border-box;
}

.mc-field-group{

display: flex;
    flex-direction: column;}

#mc_embed_signup{
    width: 90%

}

.label{
    margin-bottom: 0.6rem;
	font-size: 16px;
    font-weight: 300;
}

.width-90{
    width: 90%;
}

.form-title{
    margin-top: 8rem;
    margin-bottom: 3rem;
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
    padding: 0.1rem 0.5rem;
}

.carousel-width{
    width: 100%;
    display: grid;
    grid-template-columns: 22% 55% 22%;
    grid-template-rows: 85% 15%;

}

#mc_embed_signup .mc-field-group label {
    font-size: 16px;
    font-weight: 600;
}

.w-100{
    width: 100%;


}

.carousel-control-next{
    margin-right: 2rem;
}

.carousel-control-prev{
    margin-left: 2rem;
}

.flex-display{
    display: flex;
    flex-direction: column-reverse;
}


.section-wrapper {
    float: none !important;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto !important;
    padding: 40px 16px;
    box-sizing: border-box;}

.arrow{
    color: #3e4543;
    font-size: 2rem;
 
    font-weight: 900;
    border: 2px solid #3e4543;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}


.text-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-unorderd{
    margin-left: 25px;
}


.scroll-content{
    height: 550px;
    margin-left: 4rem;
    overflow: auto;
}

.titulo-texto{
    font-weight: 600;
}
.text-div-in{
 width: 80%;
 line-height: 40px;
}
.fa-angle-left{
     margin-right: 1rem;
}

.fa-angle-rigth{
   
    margin-left: 1rem;
}

.carousel-item {
    padding: 2rem;
}
.carousel-item img {
    border-radius: 8px;
    box-shadow: 10px 10px 20px 1px #6565658c;
}

.arrows-div{
    display: flex;
    justify-content: center;
    align-items: center;
}


.compartir-redes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.compartir-redes i{
   
    padding: 0.8rem 1.5rem;
    border-radius: 3px;
    margin: 0.3rem;
    
}



 .compartir-redes .fa-facebook-f{
    background: #3b5998;
}

.compartir-redes .fa-linkedin-in{
    background: #0077b5;
}

.compartir-redes .fa-twitter{
    background: #1da1f2;
}

.compartir-redes .fa-envelope{
    background:#8b8f8e;
}
.compartir-redes a{
   display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item{
    visibility: none;
}
.condiciones{
    margin-left: 6px;
    font-weight: 400 !important;
}
#mc_embed_signup h2 {
	font-weight: 600;
}




.compartir-redes a{
    text-decoration: none;
}


.mobile{
   display: none;
    visibility: hidden;
}

@media only screen and (max-width: 600px) {


    .scroll-content{
        margin-left: 0px;
    }
  .content-grid{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.carousel-width{
   
    grid-template-columns: 10% 80% 10%;
    margin-bottom: 2rem;

}

.redes-title{
    font-size: 15px;
}

.compartir-redes i{
    padding: 0.65rem 1.2rem;
    border-radius: 3px;
    margin: 0.15rem;}


.form-input{
    width: 100%;
}
	
.form-button{
    width: 100%;
}
    

.frame-footer{
    
    margin-left: 1rem;
    margin-right: 1rem;

}

.condiciones{
    margin-left: 3.5px;
}

.text-div{
    display: none;
    visibility: none;
     
}

.form-title{
    margin-bottom: 0px;
}

.frame-footer{
    flex-direction: column;
    justify-content: space-around;
}


.scroll-content{
   height: 400px;
    overflow: hidden;
    margin-bottom: 1rem;
}
.text-div-in{
    visibility: none;
    display: none;
}

.mobile{
   
    visibility: visible !important;
    display: flex !important;
    flex-direction: column;
}

.text-div-in-m{
width: 85%;
    line-height: 40px;}

.footer-container .follow ul li a{
    height: 33px;
    width: 33px;
     line-height: 180%;
}




}

